body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 15px;
    padding: 10px;
}